.homeDesign{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filmImage{
    width: 350px;
    height: auto;
    margin: 10px;
    opacity: 0.8;
}

.filmImage:hover{
    transform: scale(1.05);
    opacity: 1;
}