.homeDesign{
    width: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.filmImage{
    width: 90vw;
    height: auto;
    margin: 0.5em;
    opacity: 0.90;
}

.filmImage:hover{
    transform: scale(1.05);
    opacity: 1;
}

@media (min-width: 768px) {
    .filmImage{
        width: 25vw;
    }

}